# Jekyll files

_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
_site/

*.docx
.DS_Store

# Gerber files

*.GBL
*.GBO
*.GBP
*.GBS
*.GKO
*.GML
*.GTL
*.GTO
*.GTP
*.GTS
*.TXT

# Files that scripts generate

Archive/
feeders.csv
.uploaded
*.bom.md
*.bot.brd.png
*.brd.png
*.brd.svg
*.dpv
*.smt550.csv
*.eagle.tar.z
*.gerbers.tar.z
*.eagle.tar
*.gerbers.tar
*.eagle.zip
*.gerbers.zip
*.gpi
*.info
*.parts.csv
*.sch.png
*.top.brd.png
*parts.csv

# Eagle temp files

*.dri
*.l#?
*.s#?
*.b#?
*~snap.scr
*_[0-9][0-9].job
*_[0-9][0-9].pro
eagle.epf


